[2020-09-14 23:05] codeaches opened #73 "Trailing stop orders"
@Petersoj just checking to see trailing stop order service will be added in the near future?

[2020-09-15 05:04] Petersoj commented on #73
That functionality is already in the snapshot branch. I just have to test it and then will merge and release either tomorrow or Wednesday.

[2020-09-15 20:10] Petersoj commented on #73
This has been integrated in to version `5.2`.

[2020-09-15 20:10] #73 closed, assigned to nobody

[2020-09-16 02:18] codeaches commented on #73
Thank you @Petersoj

[2020-09-27 18:45] jessethouin opened #74 "alpaca-java's log4j2.properties file is rendering my local config unusable"
I know how to work around it, but I should not have to when using a 3rd party library. Please remove log configs from your library.

[2020-09-27 18:47] jessethouin commented on #74
I should specify this is from the maven import. I should also specify that I'm very thankful for for this library!! Keep up the great work. :)

[2020-09-27 22:17] Petersoj commented on #74
Thanks for reporting this. A lot of 3rd party libraries use Log4j properties and it's usually the responsibility of the library user to set their logging configuration to their liking. Use [this](https://stackoverflow.com/a/1140498/4352701) guide to specify the Log4j properties file for your environment.
I'll look in to changing how this library sets the configuration for Log4j so that it's easier

[2020-10-25 23:18] Petersoj commented on #74
Closing this as there is a solution available. Let me know if you have problems :)

[2020-10-25 23:18] #74 closed, assigned to nobody

[2020-10-26 15:52] tamuseanmiller opened #77 "Requesting a New Market Order is always Throwing the 422 Unprocessable Entity Status Code"
I'm a few commits behind, but I don't think anything was changed on this front and was hoping for some help. Here's the logcat from the event though I don't think it is particularly useful:

`2020-10-26 10:48:05.771 3147-3147/com.bedefined.alpaca_dashboard W/System.err: net.jacobpeterson.alpaca.rest.exception.AlpacaAPIRequestException: Alpaca API Request Exception! : Status Code = 422, Status Text

[2020-10-26 16:11] Petersoj commented on #77
In the exception stacktrace you gave, it reads `API Response Code = 40010001, API Response Message = "only type="limit" is allowed for extended hours orders"` Set the last parameter to false and you should no longer receive an exception. It's a common standard to have LIMIT orders required for extended hours trading across several US brokers.
Edit: I'll just remove the ability to set that last par

[2020-10-26 16:57] tamuseanmiller commented on #77
Wow, I must be blind, apologies! Would you mind giving me an example of how to place a regular market order during market hours by chance?

[2020-10-26 17:07] Petersoj commented on #77
Haha yeah no worries. A market order can simply be placed with the following method:
[code]
Refer to the example code snippet in the README [here](https://github.com/Petersoj/alpaca-java#alpacaapi-example) and the Javadoc of the AlpacaAPI class [here](https://javadoc.io/doc/net.jacobpeterson/alpaca-java/latest/net/jacobpeterson/alpaca/AlpacaAPI.html) for more information.

Edit: note that the last

[2020-10-26 17:24] tamuseanmiller commented on #77
Really appreciate it @Petersoj this wrapper has been a life saver <3

[2020-10-26 17:24] #77 closed, assigned to nobody

[2020-11-18 15:07] codeaches opened #79 "Could not parse message: {"stream":"T.CNHI","data":{"ev":"T","T":"CNHI","i":"52983525296441","x":3,"p":10.79,"s":300,"t":1605711806562000000,"c":[14,41],"z":1}}: NumberFormatException: For input string: "52983525296441""
I am getting the below error since today morning. May be its just me or any one else facing the issue?

Nov 18 2020 08:03:27 AM MST - Could not parse message: {"stream":"T.CNHI","data":{"ev":"T","T":"CNHI","i":"52983525296441","x":3,"p":10.79,"s":300,"t":1605711806562000000,"c":[14,41],"z":1}}
com.google.gson.JsonSyntaxException: java.lang.NumberFormatException: For input string: "52983525296441"

[2020-11-18 15:29] Petersoj commented on #79
Looks like the Trade ID field for that JSON trade message is larger than the max value of a signed integer. This is simply fixed by changing that field type to a long instead of an int in the JSON schema. Thanks for reporting this! I’ll push a new release soon.

[2020-11-21 23:02] Petersoj commented on #79
Fixed in version `6.0.1`.

[2020-11-21 23:02] #79 closed, assigned to nobody

[2020-11-26 17:58] tamuseanmiller opened #80 "getDailyOpenClose returning null"
The method getDailyOpenClose in PolygonAPI seems to always return null, I didn't spend too much time on it but I couldn't tell why it was happening. I haven't tested in any environment but my own but thought I would bring it up in case others get the issue.

Just an example call...
`polygonAPI.getDailyOpenClose("AMD", lastOpenDate);`

[2020-11-27 21:40] Petersoj commented on #80
Thanks for reporting this! I’ll investigate next week 👍

[2020-12-03 17:43] belarusrulez opened #81 "If the checksums are different, please create a new issue!"
![image](https://user-images.githubusercontent.com/1071191/101067061-ec682680-354b-11eb-9e11-413198f72c0c.png)
Creating ticket because "If the checksums are different, please create a new issue!" :)

[2020-12-03 18:07] Petersoj commented on #81
This will happen if you build with a Java version other than Java 8 (JDK 1.8.0). The compiler will optimize your build differently than the Jar that I build on my machine and upload to Maven central. I'll add a note to the README. Thanks for reporting!
![alpaca-java md5](https://user-images.githubusercontent.com/14127217/101069682-90a39a80-3557-11eb-98e9-331b8f75dcf3.png)

[2020-12-03 18:40] belarusrulez commented on #81
thx for fast respond

[2020-12-03 19:46] belarusrulez commented on #81
as an idea. Will it make sense to put latest checksum in general readme file? that's how ppl will be able to check checksum without having to install JDK 1.8.0

[2020-12-03 21:04] Petersoj commented on #81
Yes I can add that. A neat tool I found for Java version management is called [Jabba](https://github.com/shyiko/jabba). You can easily manage installed versions of various JDKs and switch between them seamlessly.

[2020-12-03 21:04] #81 closed, assigned to nobody

[2020-12-11 19:41] Petersoj commented on #80
Fixed in d3ee31258a4303faf36afd965cdd948e99c0c02a. The JSON response format changed.

[2020-12-11 19:41] #80 closed, assigned to nobody

[2020-12-11 19:42] Petersoj commented on #80
I will publish this in the next release once I get unit testing going 👍

[2020-12-13 20:16] belarusrulez commented on #81
@Petersoj
Sorry to open this again. Just don't want to spawn more tickets + it's the same topic.

Could you consider something like this:
https://stackoverflow.com/questions/14013644/hosting-a-maven-repository-on-github
As an example of one possible solutions from stack-overflow topic:
https://github.com/polygon-io/client-jvm

Sorry to bother you.

[2020-12-13 21:11] Petersoj commented on #81
Using Maven Central is the standardized way of hosting Maven artifacts. Why do you want me to host the artifacts on a Github branch? Are you having issues with [Maven Central](https://search.maven.org/) and/or [Sonatype](https://oss.sonatype.org/)?

[2020-12-30 21:49] tamuseanmiller opened #82 "Add the new Orders Endpoint"
In the last Alpaca API update, they added the option to feed a list of tickers separated by commas to the orders endpoint in order to get your orders for only those tickers. Read more here https://alpaca.markets/docs/api-documentation/api-v2/orders/

[2020-12-30 22:16] tamuseanmiller commented on #82
#83

[2020-12-31 00:37] Petersoj commented on #82
Merged #83

[2020-12-31 00:37] #82 closed, assigned to nobody

[2021-01-03 09:18] henning-oden opened #84 "MD5 checksum Java 1.8.0_261"
I downloaded the Alpaca Java API for use in a programming project today and I have gotten an MD5 checksum that differs from the expected one.

Used Gradle version was 6.6.1 in Git Bash on Windows 10, Version 10.0.19041 Build 19041.

Java: java -version
java version "1.8.0_261"
Java(TM) SE Runtime Environment (build 1.8.0_261-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.261-b12, mixed mode)

MD

[2021-01-03 09:30] Petersoj commented on #84
You can safely proceed. I added that section to the README to give users a better sense of security when using the artifacts I upload to Maven central, but I guess the MD5 checksums will still differ using the same JDK version, but with different build versions... I am using build 1.8.0_241-b07.
I will figure out a better way users can consistently verify "Maven Central Integrity."

[2021-01-03 09:35] henning-oden commented on #84
Okay, I think I understand. Thank you!

[2021-01-03 09:35] #84 closed, assigned to nobody

[2021-01-05 07:33] Petersoj commented on #74
Following up on this: I have found that using Log4j dependency with the `compile` closure in Gradle will cause Log4j to be included on the classpath for library users unless the library user explicitly excludes the Log4j group and artifact ID. I will be changing all the dependencies from `compile` to `implementation` which shields library users from direct access to `compile` dependencies that thi

[2021-01-28 23:56] belarusrulez opened #85 "Hello. I added sort and limit into polygon aggregations call. Can't push."
Hello. I added sort and limit into polygon aggregations call. Can't push.
![image](https://user-images.githubusercontent.com/1071191/106213362-5d5d4080-6181-11eb-8988-4f6e5c239840.png)

[2021-01-29 02:00] Petersoj commented on #85
If you want to integrate your code into this repository, you need to create a Pull Request (PR). See [here](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests) for more details.

[2021-01-30 02:02] #85 closed, assigned to nobody

[2021-01-30 02:02] belarusrulez commented on #85
@Petersoj thx.

[2021-02-19 12:32] icgurney opened #87 "WebSocketException when disconnecting only open market data stream"
I believe the issue is `.getContainer()` on the userSession returns null after the userSession is closed in AbstractWebsocketClientEndpoint.

I'm using your example code in the README to reproduce this issue.

[code]

[2021-02-19 17:01] Petersoj commented on #87
Interesting. I'll fix that this weekend. Thanks for reporting it.
Edit: Got busy last weekend. I'll fix this along with implementing the new Data V2 API.

[2021-02-25 19:17] balajikandavel opened #88 "Fix bars timeframe for v2"
https://alpaca.markets/docs/api-documentation/api-v2/market-data/alpaca-data-api-v2/historical/#bars
There is a change in Timeframe for the aggregation. Available values are: 1Sec, 1Min, 1Hour, 1Day.

[2021-02-25 20:17] Petersoj commented on #88
I'll update that this weekend. Thanks for reporting this.

[2021-02-28 03:50] balajikandavel commented on #88
Thanks

[2021-02-28 03:53] Petersoj commented on #88
@balajikandavel looks like available values are actually: 1Min, 1Hour, 1Day by the way.

[2021-02-28 04:17] balajikandavel commented on #88
Right, looks like the document got updated now.

[2021-03-02 20:00] Petersoj commented on #88
Fixed in [7.0](https://github.com/Petersoj/alpaca-java/releases/tag/7.0)

[2021-03-02 20:00] #88 closed, assigned to nobody

[2021-03-02 20:00] Petersoj commented on #87
Should be fixed in [7.0](https://github.com/Petersoj/alpaca-java/releases/tag/7.0)

[2021-03-02 20:00] #87 closed, assigned to nobody

[2021-03-05 19:19] Mahdi-Roozbahani opened #89 "QuoteMessage does not exist in the new library"
I noticed that QuoteMessage is removed in your latest update version 7.0.

[2021-03-05 19:22] Petersoj commented on #89
Yes there was some refactoring of names and such with the Data v2 API in `7.0`. Check the README for updates names. [Here](https://github.com/Petersoj/alpaca-java/blob/master/README.md#Quotes) is the Quotes endpoint example and [here](https://github.com/Petersoj/alpaca-java/blob/master/README.md#Realtime-Market-Data) is the Quotes realtime feed example.

[2021-03-05 19:26] Mahdi-Roozbahani commented on #89
Hi Peter,

I am specifically looking into `MarketDataListener streamListener = new MarketDataListenerAdapter`. I realized that you still have `QuoteMessage `there. I also notice that `OrderTimeInForce `is gone and not recognized.

I used Maven to pull version seven and it does not recognize those classes.

-update:
it does not recognize `TradeMessage tradeMessage = (TradeMessage) streamMessage;` e

[2021-03-05 19:42] #89 closed, assigned to nobody

[2021-03-07 22:12] Schariss opened #90 "Limit Order Bad Request"
[code]

**- Exception :** net.jacobpeterson.alpaca.rest.exception.AlpacaAPIRequestException: Alpaca API Request Exception! : Status Code = 400, Status Text = "Bad Request", API Response Code = 40010000, API Response Message = "request body format is invalid"
	at net.jacobpeterson.alpaca.AlpacaAPI.requestNewOrder(AlpacaAPI.java:500)

[2021-03-07 22:21] Petersoj commented on #90
What version are you using? That exact code is working for me on version `7.0`.
What Logger implementation are you using? Can you show me what the debug log outputs?

[2021-03-08 01:25] Schariss commented on #90
First of all, thank you for your fast response.
Yes, I am using version 7, and logger SLF4J library from Lombok on a spring
boot application.
I tried the requestNewOrder, requestNewMarketOrder and a few more methods,
they are all working fine with the exception of requestNewLimitOrder.

net.jacobpeterson.alpaca.rest.exception.AlpacaAPIRequestException: Alpaca
API Request Exception! : Status Code =

[2021-03-08 04:16] Petersoj commented on #90
Could you try that code snippet on a fresh project just to ensure that the problem is isolated to your Spring boot application? It's still working fine for me.
Edit:
Also, could you set the log level of your logger implementation to `TRACE` before you instantiate the `AlpacaAPI` object. And then give me the output on the console (remove any sensitive information such as your API keys).

[2021-03-08 22:18] Schariss commented on #90
I tried the same code as yours again on a maven project, but the problem
persists.
The other methods are working fine, I even tried the requestNewOrder method
and specified the necessary fields for limit order but it didn't work.

net.jacobpeterson.alpaca.rest.exception.AlpacaAPIRequestException: Alpaca
API Request Exception! : Status Code = 400, Status Text = "Bad Request",
API Response Code = 40

[2021-03-09 17:10] Petersoj commented on #90
Is this Paper or Live?
Can you show me your `pom.xml`?
Could you also make a Zip archive of your maven project and upload it here?
Perhaps you could also re-download the artifact from Maven Central by deleting the `~/.m2/repository/net/jacobpeterson/alpaca-java/7.0` directory.

[2021-03-09 17:58] Mahdi-Roozbahani opened #91 "Ask or Bid price gives me unreasonable numbers"
Hi;

I use MarketDataListener to read the QUOTE for stocks in real-time such as ask or bid price. I realized that either ask or bid gives quite a different price from what is happening in the market. Please take a look at the video I recorded; it shows how suddenly ask or bid price changes. It can create many problems if a user wants to create their strategy based on the real data generated by the

[2021-03-09 18:21] Petersoj commented on #91
This is not likely an issue within this library. This is likely due to either Alpaca's data relaying of IEX data or just the fact that IEX isn't super liquid and thus will have high spreads. I just checked the raw realtime stream (you can too using tools such as `wscat`) for AMZN and the spread is huge on IEX (over $300). Take a look at the different subscription plans [here](https://alpaca.market

[2021-03-18 03:04] bdavid opened #92 "AlpacaAPI.getBars 7.0"
Hello. I'm upgrading from version 6.1 to version 7.0 and for some reason I keep getting zero results when I call AlpacaAPI.getBars().

val symbol = "QQQ";
val alpaca = new AlpacaAPI();
val start = ZonedDateTime.of(2021, 3, 16, 9, 30, 0, 0, ZoneId.of("America/New_York"));
val end = ZonedDateTime.of(2021, 3, 16, 16, 0, 0, 0, ZoneId.of("America/New_York"));
val map = alpaca.getBars(symbol, start, end

[2021-03-18 03:09] Petersoj commented on #92
Alpaca is currently backfilling the Bars v2 API right now so that endpoint won't return anything until they have finished the backfill. You can see the status of the backfill and the currently available endpoint data [here](https://alpaca.markets/docs/api-documentation/api-v2/market-data/alpaca-data-api-v2/#public-beta-status). I would recommend staying on `6.1` until they finish backfilling the v

[2021-03-18 03:09] #91 closed, assigned to nobody

[2021-03-18 03:17] bdavid commented on #92
Got it. Thanks for quick reply and all your work on the Alpaca SDK!

[2021-03-18 03:17] #92 closed, assigned to nobody

[2021-04-26 20:47] Caceresenzo commented on #90
Hi
I have the same problem, and i found what's causing it:

When you are doing a request with a limit price, you are sending:
[code]

Which is formating the `limit_price` using:
https://github.com/Petersoj/alpaca-java/blob/4e70b6004c92698e694241c24fbf0b7165e6fbd4/src/main/java/net/jacobpeterson/util/format/FormatUtil.java#L28-L30

This is using the coma (,) instead of the dot (.) that Alpaca is ex

[2021-04-26 21:22] Petersoj commented on #90
@Caceresenzo yes I believe you're correct. The `NumberFormat` instance doesn't specify the `EN_US` locale explicitly. I will fix this. Thank you!

[2021-04-26 21:24] Caceresenzo commented on #90
Glad to hear that!

I tested with a simple HTTP client, and if you do replace the coma (,) with the dot (.), everything work fine.

[2021-04-26 22:54] Petersoj commented on #90
Fixed in 019c617a0a2ed58c0b9e27a7933698e5b3b58f2e

[2021-04-26 22:54] #90 closed, assigned to nobody

[2021-04-27 16:18] Caceresenzo commented on #90
When will this be in master?

[2021-04-27 19:28] Petersoj commented on #90
@Caceresenzo I will make a patch release later today.

[2021-04-27 20:19] Petersoj commented on #90
@Caceresenzo [`7.1.1`](https://github.com/Petersoj/alpaca-java/releases/tag/7.1.1) is has been published. Should be accessible from Maven Central in an hour or so.

[2021-04-27 20:21] Caceresenzo commented on #90
@Petersoj many thanks!

[2021-04-27 21:44] Caceresenzo opened #94 "Use enum more if possible instead of String"
Hi

Is there a way to use a Java enum instead of a String field in such cases? (see below)

https://github.com/Petersoj/alpaca-java/blob/d4e5ac830767a6b69259192c60645433272435a6/schema_json/alpaca/streaming/trade/trade_update.json#L5-L8

Here is what I was using for replacement:

[code]

Since the enum fields returned by Alpaca's API are in lowercase, I see a big usage of
https://github.com/Peters

[2021-04-27 21:45] Caceresenzo commented on #94
On the same note, why not using `BigDecimal` instead of `String`? (for numeric fields)

[2021-04-30 00:47] Petersoj commented on #94
The reason I didn't originally use the `@SerializedName` for those enums was because Alpaca was changing them (along with `ActivityType`'s) which would result in a null value for that field in the generated POJO. Those likely won't be changing too much anymore so I'll convert those fields to their enum equivalents in the schema in the next release.

Which schemas/fields are you referring too?

[2021-04-30 09:49] Caceresenzo commented on #94
Ok thanks for telling me

At pretty much any decimal field.

https://github.com/Petersoj/alpaca-java/blob/d4e5ac830767a6b69259192c60645433272435a6/schema_json/alpaca/account/account.json#L21-L24

https://github.com/Petersoj/alpaca-java/blob/d4e5ac830767a6b69259192c60645433272435a6/schema_json/alpaca/order/order.json#L69-L72

https://github.com/Petersoj/alpaca-java/blob/d4e5ac830767a6b69259192c6064

[2021-05-04 23:44] Petersoj commented on #94
I don't recall the exact reason I decided to use `String` there, but I believe it is for the following reasons: `double` was causing some users to get parse exceptions due to overflow as Alpaca/Polygon was sending very large (or small) numbers occasionally and `BigDecimal` fixes overflow issues, but increases overhead (especially on the market data stream). So I just left it up to the user to eith

[2021-05-05 00:31] Caceresenzo commented on #94
I was expecting that kind of answer for the numeric values.

In contrary, the enum change will reduce overhead :)

[2021-05-07 21:31] Petersoj commented on #94
@Caceresenzo I've added `TradeUpdateEvent` and `ActivityType` enums to their associated JSON schemas as seen [here](https://github.com/Petersoj/alpaca-java/compare/d4e5ac830767a6b69259192c60645433272435a6..6c9884d8fedf4bfc0e0eb1fda05056d8d8f097bd) on the `development` branch. I've tested it out on my end, but if you'd like to test it, clone the `development` branch and run `./gradlew clean build i

[2021-05-07 21:34] Caceresenzo commented on #94
Unfortunately I do not have the time to test it...
But I will happily update my code when the update is released :)

Thanks for your work

[2021-05-07 21:34] #94 closed, assigned to nobody

[2021-05-07 21:53] Caceresenzo opened #95 "Ability to track the socket state and events (isConnected, onConnected(), onDisconnected())"
Hi

Not having the possibility to know in what state the socket currently is is leading to unexpected errors.

I often get:
[code]

I can see that the method to do that is public, but not the accessor to the client object.

https://github.com/Petersoj/alpaca-java/blob/d4e5ac830767a6b69259192c60645433272435a6/src/main/java/net/jacobpeterson/alpaca/websocket/broker/client/AlpacaWebsocketClient.java#

[2021-05-12 19:28] Petersoj commented on #95
Yes. I can expose a few methods/fields so that a user can check on the socket state and add listeners to state changes. I'll add that soon.

[2021-05-19 05:13] Petersoj commented on #95
@Caceresenzo
Release [`7.2`](https://github.com/Petersoj/alpaca-java/releases/tag/7.2) adds `WebsocketStateListener` to manually listen to Websocket state changes (`onConnected`, `onDisconnected`, and `onError`). Set the `WebsocketStateListener` to the desired `WebsocketClient` via `AlpacaAPI.setAlpacaStreamWebsocketStateListener()` or `AlpacaAPI.setMarketDataStreamWebsocketStateListener()`.

[2021-05-19 05:13] #95 closed, assigned to nobody

[2021-06-03 15:40] hudsonbl opened #96 "alpacaAPI.getBars() not working as implemented"
The implementation of getBars(symbol, start, end, limit, ....). The method works but the start and end dates are switched. In the alpaca documentation, start implies the earliest date and the end date is the more recent to date. Instantiating the function that way resolves in a error "start cannot be after end". By switching the two, getBars(symbol, end, start, limit, ....), the function works as

[2021-06-04 17:37] Petersoj commented on #96
The following code snippet works as expected for me on `alpaca-java` `7.2.1`:
[code]
The method signature has the second argument as the 'start' and the third argument as the 'end' with 'start' as the earliest date and 'end' as the more recent to date. So everything is working as expected.
Do you have a code snippet you could share?

[2021-06-04 19:26] hudsonbl commented on #96
Ok it is behaving as expected. I confused the grammar in my own code.

[2021-06-04 19:26] #96 closed, assigned to nobody

[2021-07-14 16:13] fear025 opened #98 "live configuration does not seem to be working with version 8.0.1"
When using the configuration with the parameter:
endpoint_api_type=live

The following error message is generated:
net.jacobpeterson.alpaca.rest.AlpacaClientException: java.net.UnknownHostException: No such host is known (live.alpaca.markets)

I believe this is being caused by line 134 of main/java/net/jacobpeterson/alpaca/AlpacaAPI.java
brokerHostSubdomain = "live";

This should probably be:
brok

[2021-07-14 16:15] Petersoj commented on #98
Oh whoops! I'll fix that right away. Thank you!

[2021-07-14 16:29] Petersoj commented on #98
Fixed in [`8.0.2`](https://github.com/Petersoj/alpaca-java/releases/tag/8.0.2).

[2021-07-14 16:29] #98 closed, assigned to nobody

[2021-07-15 00:21] zhemaituk opened #99 "java.lang.ExceptionInInitializerError when using alpaca-java inside of spring-boot application"
When alpaca-java.jar is packaged inside of spring-boot application, AlpacaProperties class fails to initialize:

[code]

Subsequent references to the AlpacaAPI fail with:

[code]

**Rootcause:**

In case of spring-boot the libraries are loaded by application class loader, and not by system class loader.

Changing `ClassLoader.getSystemClassLoader()` to `PropertyUtil.class.getClassLoader()` address

[2021-07-15 01:42] zhemaituk opened #101 "Support for "held" OrderStatus"
Even though Alpaca documentation does not even mention status "held" ( https://alpaca.markets/docs/trading-on-alpaca/orders/#order-lifecycle )

It still happens on practice for bracket (e.g. OTO) orders: https://forum.alpaca.markets/t/half-of-bracket-order-held/2727

Currently alpaca-java maps `held` to `null` in `OrderStatus`.
It would be more predictable to have own `OrderStatus.HELD` value.

Sa

[2021-07-15 04:03] #99 closed, assigned to nobody

[2021-07-15 04:07] Petersoj commented on #101
Sounds good. I'll add that order status in this next patch release.

[2021-07-15 04:07] #101 closed, assigned to nobody

[2021-07-15 04:13] Petersoj commented on #101
Fixed in 3872b97f1414a9275b5aeefdf39a70efdfbff70f

[2021-07-22 20:04] fear025 opened #102 "OkHttp3 NoSuchMethodError when running requestOrder()"
When testing a buy request against my Alpaca Paper account, I'm executing this method:
[code]

And I get this error:
[code]

After investigating a little, I discovered that if I change around the parameter values in JSONBodyBuilder to the following, then everything works fine, and I am able to place buy and sell orders.
[code]

The biggest problem with this fix is that this particular create() met

[2021-07-22 22:34] Petersoj commented on #102
Hmm, I'm not sure exactly what is happening on your end, but it could be that a different version of OkHttp is on your classpath than version `4.9.1` which is the version `alpaca-java` uses. But anyway, according the source of `RequestBody` [here](https://github.com/square/okhttp/blob/master/okhttp/src/main/kotlin/okhttp3/RequestBody.kt), the method signature that has the request body content stri

[2021-07-30 02:29] splicymusic opened #105 "Maven dependency in IntelliJ disabling Run"
I'm importing the alpaca-java with Maven in IntelliJ.  Very oddly this appears to disable running my app. The green play buttons and menu items for running are all there but using them does... nothing. Commenting out the alpaca-java dependency and restarting IntelliJ allows running. (Simply re-importing all maven dependencies does not do the trick).

Has anyone else experienced this?

I've seen th

[2021-07-30 14:42] Petersoj commented on #105
I use Intellij, but I do not use the built in build tool, but instead use the "Gradle" tab or Gradle from the command line. First, I would recommend you update Intellij to the latest version. The version you're using is quite outdated (the latest version is 2021.2). Second, have you tried using Maven from the command line to confirm that your `pom.xml` configuration is working? For example: `mvn c

[2021-07-30 17:41] splicymusic commented on #105
After updating IntelliJ the issue is resolved.  Thanks for the help with this issue!

[2021-07-30 17:41] #105 closed, assigned to nobody

[2021-07-30 23:35] sandro628 opened #106 "Stream reset when getting snapshot"
I'm trying to run `MarketDataEndpoint#getSnapshots(Collection<String> symbols)` with about 7000 symbols and it causes the following exception to be thrown:

[code]

I don't think there should be a limit on the number of tickers, so I'm not sure what would cause such a thing to happen.

(And to add on I did quite a bit of digging into source and it doesn't seem to be a timeout. but something relate

[2021-08-02 23:04] Petersoj commented on #106
I can confirm this, but I don't think this is an issue with the way the internal `OkHttpClient` instance is configured. It appears to be an issue with the request URI length being too long.
Executing the following:
`curl -H "APCA-API-KEY-ID: <key ID>" -H "APCA-API-SECRET-KEY: <Secret>" -v https://data.alpaca.markets/v2/stocks/snapshots?symbols=<CSV list of 5000+ symbols>` with HTTP/2 yields the fo

[2021-08-05 17:20] #106 closed, assigned to nobody

[2021-08-05 17:45] Petersoj commented on #102
Looking in to this further, it appears that the method call being used in `JSONBodyBuilder` (with the content `String` first and the `MediaType` second) is the correct usage. [This](https://github.com/square/okhttp/issues/6309#issuecomment-704914951) issue comment explains it a bit, but you can see all the detail of what happened in [this](https://github.com/square/okhttp/commit/8bb58332dbacdd2bb9

[2021-08-05 20:19] fear025 commented on #102
Thanks for looking into this more! The problem was definitely a different version on my classpath.

For reference, if anyone else has this problem, I was able to figure out exactly where this was coming from by using the following code:
[code]

It turns out I had another project included which used a backlevel version of the okhttp library, and it was getting picked up first in the classpath.

It

[2021-08-05 20:19] #102 closed, assigned to nobody

[2021-08-09 14:12] gregbarton opened #108 "okhttp3 version issue with 8.2 release"
While attempting to execute orders I'm getting the following exception:

[code]

I notice that, despite there being a dependency on okhttp3 v4.9.1 the only version being downloaded during build is 3.14.9.

[2021-08-09 14:23] gregbarton commented on #108
Placing an explicit dependency to version 4.9.1 in my maven build seems to have fixed the issue for now.
[code]
But this is not an optimal solution.

[2021-08-10 17:19] Petersoj commented on #108
This is likely due to transitive dependencies that Maven puts on the classpath. Another user opened an issue for the same reason here: #102. As far as I know, the only way to fix this with Maven is to explicitly specify the version of `OkHttp` you want to use by adding that dependency to your `pom.xml` as you have done. Another alternative is to use Gradle instead of Maven which features the `impl

[2021-09-07 14:40] Petersoj commented on #108
@gregbarton were you able to resolve this issue?

[2021-09-07 15:31] gregbarton commented on #108
Yeah, with the explicitly specified okhttp3 dependency.  No issues since then.

[2021-09-07 15:31] #108 closed, assigned to nobody

[2021-11-12 17:31] uchitel opened #109 "java.util.NoSuchElementException: List is empty"
I am using web sockets to stream market data. Somedays the SDK starts writing error messages for all tickers and I can't get any market data. Not sure if it is SDK or Alpaca issue. Here is an error message:

[code]

Any help is appreciated
Thanks.
Alex

[2021-11-12 18:27] uchitel commented on #109
I think I found it. Sorry.

[2021-11-12 18:27] #109 closed, assigned to nobody

[2021-11-12 18:54] Petersoj commented on #109
Hey no worries. I can't see the full stacktrace, so was the exception being thrown by this library or in your application?

[2021-11-12 19:14] uchitel commented on #109
In my app, I missed it somehow. Thanks for lighting fast response:)

[2021-12-02 04:58] Kurru opened #110 "Unsupported account status enum value"
I observe an unsupported enum `status` from the account API during the account signup flow.

`ACTION_REQUIRED`

This status value is reported as null by the current java API.

Can this enum value be added to alpaca-java? This would [perhaps be added here](https://github.com/Petersoj/alpaca-java/blob/master/schema_json/endpoint/account/enums/account_status.json)?

I found some reference to this in

[2021-12-06 00:06] Petersoj commented on #110
Patched in release [`8.3.3`](https://github.com/Petersoj/alpaca-java/releases/tag/8.3.3).

[2021-12-06 00:06] #110 closed, assigned to nobody

[2021-12-08 17:19] manojbhi23 opened #112 "Need support for broker-api URL"
Currently AlpacaAPI constructor is supporting only api and paper-api URLs. For sandbox testing, it should support broker-api subdoamin as well

 switch (endpointAPIType) {
            case LIVE:
                brokerHostSubdomain = "api";
                break;
            case PAPER:
                brokerHostSubdomain = "paper-api";
                break;
  _**case SANDBOX:
                brok

[2021-12-24 00:34] Kurru opened #113 "Version 9.0.0 release seems to have dropped support for BarMessage.getVolume()"
Version 9.0.0 release seems to have dropped support for `BarMessage.getVolume()`. At least, the method `getVolume()` seems to be absent.

Was this intentional?

`net.jacobpeterson.alpaca.model.endpoint.marketdata.common.realtime.bar.BarMessage.getVolume()`

[2021-12-24 00:50] Kurru commented on #113
Oh, I found `net.jacobpeterson.alpaca.model.endpoint.marketdata.stock.realtime.bar.StockBarMessage` in the json_schema which does contain the `volume` field.

Thanks for the update/sorry about the noise!

[2021-12-24 00:50] #113 closed, assigned to nobody

[2021-12-24 09:07] Petersoj commented on #113
Hey @Kurru, no worries. The crypto and stock market data APIs share a lot of common fields (e.g. open, close, trade ID, etc...), but the `volume` field in crypto is a floating point number and the `volume` field in stock data is an `int` (among other differences) so I made this distinction via `CryptoBarMessage` and `StockBarMessage`. This way, a user can use the common fields between crypto and s

[2022-01-03 17:38] Petersoj commented on #112
Sorry for the late response. I will look into Broker API support soon.

[2022-01-05 02:14] Kurru opened #114 "@Nullable annotations on the generated client API's"
Is it possible to annotate the generated json apis with Nullable for the fields which may not always be set.

In my opinion, this could help improve the quality of my code by avoiding accidental NullPointerExceptions, though perhaps it would have too many false positives...

[2022-01-11 20:34] Petersoj commented on #114
Hey @Kurru, thanks for the suggestion. Unfortunately, the `jsonschema2Pojo` [reference](https://github.com/joelittlejohn/jsonschema2pojo/wiki/Reference) does not provide a way to attach annotations to the generated fields inside the model class files. Additionally, as you mentioned, adding `@Nullable` to the fields may produce "false positives" because whether or not a field is always null or some

[2022-01-11 20:34] #114 closed, assigned to nobody

[2022-01-18 20:49] selivonchik opened #115 "TradeUpdateMessage (trade_upates) misses few fields"
According to Alpaca docs (https://alpaca.markets/docs/broker/api-references/events/#response-2) Trade Update events contains few more fields that are currently missed in TradeUpdateMessage:
![image](https://user-images.githubusercontent.com/4846161/150016055-3e5b0e3b-e45b-4094-9a49-b252266a450a.png)
To simplify events correlation exposing at least "account_id" and "event_id" might be very useful.

[2022-01-31 01:21] Petersoj commented on #115
Those fields are sent on the websocket stream for the Broker API, which isn't currently supported by this library at the moment (only single-user endpoints that use API keys are supported by this library). I'll look into supporting the Broker API at some point in the future.

[2022-02-04 01:09] Kurru opened #116 "Testing advice for alpaca-java"
Writing tests for the java library is rather wordy. Is it possible to improve this or is it limited by the code generator?

Specifically, this is the code to setup a single API integration using a little bit of mockito:

[code]

Some possible improvements:
- A builder pattern for the objects, where each setter `returns this` to enable method chaining, though this
- Returning `long`, not `Long` for

[2022-02-04 05:45] Kurru commented on #116
Oh, separately, when reading bars for a time period that does not have bars, then we receive an unexpected null from
`StockBarsResponse.getBars()`. It would be expected this would return an empty list. Is this something that can be changed or documented?

[code]

[2022-02-04 20:40] selivonchik commented on #115
Thank you

[2022-03-11 04:56] Petersoj commented on #116
@Kurru sorry for the late response. Thanks for your feedback! Unit testing is certainly on the TODO list, but I haven't managed to tackle all of it quite yet, but this library appears to be pretty stable anyways (though unit testing is always good to have of course). Thank you for looking into this.

To address some of the possible improvements you suggest:
- Yes, jsonschema2Pojo does offer a way

[2022-03-11 05:12] Petersoj opened #118 "Add Corporate Actions API and News streaming API"
If any community member wants to contribute to this repository, the following two items need to be implemented in this library as they were just recently added to Alpaca's API offerings:
- The [Corporate Actions API](https://alpaca.markets/docs/api-references/trading-api/corporate-actions-announcements/).
  - Implement the endpoint(s) in a new class called: `net.jacobpeterson.alpaca.rest.endpoint.

[2022-03-11 17:29] Kurru commented on #116
Thanks for the detailed review! I find it rather frustrating when Java code returns nulls for empty lists though, as this
 complicates the code for processing this scenario, but I can understand your rationale for not making any assumptions about the underlying API.

Another option, could be to review how the official API implementations handle these json null in their client libraries. Perhaps th

[2022-04-21 18:31] jessethouin opened #120 "OrdersEndpoint.requestLimitOrder() takes only Integer as quantity, should take Double"
Since OrdersEndpoint.requestLimitOrder() is a wrapper for OrdersEndpoint.requestOrder(), the type of "quantity" fields should match. For example, I should be able to submit a limit order for .075 BTCUSD, but am currently stuck with only whole numbers.

[2022-04-23 20:50] Petersoj commented on #120
Fixed by PR #121.

[2022-04-23 20:50] #120 closed, assigned to nobody

[2022-05-19 13:46] DarioArena87 opened #122 "Integer quantity instead of decimal in PositionsEndpoint.close()"
Hi everyone,
based on the official Alpaca API reference ([https://alpaca.markets/docs/api-references/trading-api/positions/](https://alpaca.markets/docs/api-references/trading-api/positions/)) when a position is closed using quantity, quantity could be fractional up to 9 decimal places.
The close() method declaration in alpaca-java accepts only an Integer quantity parameter so it is impossible to

[2022-05-19 15:07] Petersoj commented on #122
Hey @DarioArena87, thanks for reporting this. I haven't updated this library in a while, but plan to update it in the coming weeks to be up-to-date with Alpaca's new additions and changes to their API. Thanks for your patience. Feel free to open a PR (or just make a patch version of a local fork) to address the issue if you need it urgently.

[2022-06-03 11:35] DarioArena87 commented on #122
Hi @Petersoj,
I finally found some time to submit a PR that should fix this: #123
Feel free to merge it if you are planning to release a new version of the library

[2022-06-23 09:26] TonyMaganga opened #124 "Update enum value for FTX in Exchange"
The enum value for FTX in net.jacobpeterson.alpaca.model.endpoint.marketdata.crypto.common.enums.Exchange should be changed to "FXTU" to match the [Crypto Pricing API ](https://alpaca.markets/docs/api-references/market-data-api/crypto-pricing-data/).

`package net.jacobpeterson.alpaca.model.endpoint.marketdata.crypto.common.enums;

import com.google.gson.annotations.SerializedName;
import java.uti

[2022-06-23 14:24] Petersoj commented on #124
@TonyMaganga thanks for reporting this. I'll fix this in a release sometime next week.

[2022-08-10 00:18] Petersoj commented on #122
Added to [`9.1.1`](https://github.com/Petersoj/alpaca-java/releases/tag/9.1.1) release. Thanks!

[2022-08-10 00:18] #122 closed, assigned to nobody

[2022-08-16 13:06] TonyMaganga commented on #124
@Petersoj just want to remind you of this bug. Please look into it

[2022-08-16 16:19] Petersoj commented on #124
@TonyMaganga thanks for the follow up! I'll issue a patch release later today.

[2022-08-17 04:52] Petersoj commented on #124
Fixed in [`9.1.2`](https://github.com/Petersoj/alpaca-java/releases/tag/9.1.2).

[2022-08-17 04:52] #124 closed, assigned to nobody

[2022-08-17 07:34] TonyMaganga commented on #124
Thanks. I have tested it and works fine